<!DOCTYPE html>
<html ng-app="aimer">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/aimer/">
    <title>Aimer</title>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }
    </style>

    <link href="libs/semantic.min.css" type="text/css" rel="stylesheet">
    <link href="css/ai-strap.css" type="text/css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="css/jquery.Jcrop.css" type="text/css" rel="stylesheet">

    <link href="components/user/user.css" type="text/css" rel="stylesheet">

    <link href="libs/highlight/styles/default.css" rel="stylesheet" >
    <link href="libs/dateTimePicker/DateTimePicker.css" type="text/css" rel="stylesheet">
    <link href="libs/jquery.jPhotoGrid.css" type="text/css" rel="stylesheet">

    <script src="libs/jquery-2.1.4.min.js"></script>
    <script src="libs/jquery.jPhotoGrid.js"></script>
    <script src="libs/dateTimePicker/DateTimePicker.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-ui-router.min.js"></script>
    <script src="libs/angular-resource.min.js"></script>
    <script src="js/module-config.js"></script>
    <script src="js/dto.js"></script>
    <script src="js/navCtrl.js"></script>
    <script src="js/services/authorizationService.js"></script>
    <script src="js/services/userStorageService.js"></script>
    <script src="js/services/applyPhotoGridService.js"></script>
    <script src="js/services/syncServerConfigService.js"></script>
    <script src="js/services/messagesService.js"></script>
    <script src="js/services/REST/usersService.js"></script>
    <script src="js/services/REST/stepsService.js"></script>
    <script src="js/services/REST/aimService.js"></script>
    <script src="js/services/REST/draftsService.js"></script>
    <script src="js/services/REST/commentsService.js"></script>
    <script src="js/directives/lazyLoadDirective.js"></script>
    <script src="js/directives/searchDirective.js"></script>
    <script src="js/directives/contentEditableDirective.js"></script>
    <script src="js/directives/searchListDirective.js"></script>
    <script src="js/directives/dragAndDropDirective.js"></script>
    <script src="components/login/loginCtrl.js"></script>
    <script src="components/user/directives/attachUserDirective.js"></script>
    <script src="components/user/directives/imageGridDirective.js"></script>
    <script src="components/user/controllers/userCtrl.js"></script>
    <script src="components/user/controllers/aimCtrl.js"></script>
    <script src="components/user/controllers/loadAimsCtrl.js"></script>
    <script src="components/user/controllers/commentCtrl.js"></script>
    <script src="components/user/services/followService.js"></script>
    <script src="components/drafts/draftsCtrl.js"></script>
    <script src="libs/semantic.min.js"></script>
    <script src="libs/tinymce/tinymce.min.js"></script>
    <script src="libs/highlight/highlight.pack.js"></script>
    <script src="libs/masonry.pkgd.min.js"></script>
    <script src="libs/ng-infinite-scroll.min.js"></script>
    <script src="libs/jquery.Jcrop.min.js"></script>
    <script src="libs/ngDraggable.js"></script>
</head>
<body ng-controller="navCtrl as nav" style="position: relative;">

<header>
    <div class="header-width">
        <div class="left-nav-btns" ng-show="authenticated">
            <a ui-sref="home">
                <i class="large home icon"></i>
            </a>
            <i class="large user icon"></i>
            <i class="large alarm icon"></i>
            <i class="large mail icon"></i>
        </div>

        <a class="logo" ui-sref="home"></a>

        <div class="right-nav-btns">
            <div class="usr">
                <div ng-show="authenticated">
                    <img class="ui image pic drop-button"
                         ng-src="{{anotherUser.smallPicture || currentUser.smallPicture}}">
                </div>

                <i class="large plus icon" ng-show="authenticated"></i>

                <!--SEARCH-->
                <div>
                    <div class="ui small icon input">
                        <input class="search-input" type="text" placeholder="Search..." ng-model="searchFriends"
                               search-model
                               search-list
                               ng-model-options="{ debounce: 400 }" ng-blur="hideSearchList()">
                        <i class="search icon"></i>
                    </div>

                    <div class="search-list">
                        <div class="ui celled list">
                            <a class="item us" ng-repeat="user in friends"
                               ng-click="nav.redirectToUser(user.login)"
                               click-data="{{user.login}}"
                               ng-hide="searchError">
                                <div class="ui image">
                                    <img class="pic" ng-src="{{contextPath + user.smallPicture}}">
                                </div>
                                <div class="content">
                                    <div class="header">{{user.name}}</div>
                                    {{user.login}}
                                </div>
                            </a>

                            <div class="item searchError" ng-show="searchError">
                                Sorry, but we couldn't find user with this login
                            </div>
                            <a class="item advanced-search">
                                <i class="small search icon"></i>
                                Advanced search
                            </a>
                        </div>
                    </div>
                    <div class="menu dropped" ng-show="authenticated">
                        <div class="item">
                            <a ui-sref="home">
                                <i class="user icon"></i>
                                Profile
                            </a>
                        </div>
                        <div class="item">
                            <a ui-sref="personal">
                                <i class="setting icon"></i>
                                Settings
                            </a>
                        </div>
                        <div class="item">
                            <a ng-click="nav.logout()">
                                <i class="sign out icon"></i>
                                Log out
                            </a>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</header>
<div class="clear"></div>

<div class="signup-please hidden">
    <a href="#">Sign up</a> please to use all our features
</div>

<div class="error-message-block" style="display: none;">
    <div class="error-message">
        <i class="remove icon" ng-click="nav.closeErrorMessage($event)"></i>
        <div class="text"></div>
    </div>
</div>

<div class="background-container"></div>

<div class="wrapper">
    <div class="navigation"></div>
    <div class="hide-element">
        <div ui-view="" class="container" ng-cloak></div>
    </div>
</div>

<footer></footer>
</body>
</html>