<div class="message">Please, check your login and password</div>
<div class="wrapper">
    <h3>Login in to Aimer:</h3>
    <span ng-show="isEmpty">Login and password can't be empty</span>
    <form class="signin" ng-hide="authenticated" ng-submit="login()">
        <input class="std-text" type="text" placeholder="name@example.com" ng-model="credentials.username" ng-change="isEmpty=false;" autofocus><br>
        <input class="std-text" type="password" placeholder="password" ng-model="credentials.password" ng-change="isEmpty=false;"><br>
        <input class="std-submit" type="submit" value="Login">
    </form>
</div>