    <div class="wrapper">
        <span ng-show="isEmpty">Login and password can't be empty</span>

        <!--SIGN IN FORM-->
        <form class="signin" ng-submit="login()">
            <input class="std-text" type="text" placeholder="name@example.com" ng-model="credentials.username"
                   ng-change="isEmpty=false;" autofocus><br>
            <input class="std-text" type="password" placeholder="password" ng-model="credentials.password"
                   ng-change="isEmpty=false;"><br>
            <input class="std-submit" type="submit" value="Login">
        </form>
        <div class="signup">
            <p>Don't have an account?</p>

            <!--SIGN UP FORM-->
            <form ng-submit="sign_up()" name="signup">

            <!--    <div class="input">
                    <input class="std-text" type="text" name="login" placeholder="login" ng-model="user.login"
                           ng-maxlength="15"
                           ng-minlength="3"
                           ng-pattern="/^[A-Za-z][A-Za-z0-9]*$/"
                           required
                           ng-focus><br>
                    <div class="validation-error" ng-show="signup.login.$dirty && signup.login.$invalid &&
                    !signup.login.$focused">
                        <span ng-show="signup.login.$error.required || signup.login.$error.maxlength ||
                                       signup.login.$error.minlength || signup.login.$error.pattern">
                            Login cannot be longer than 15 characters, contain at
                            least 3 characters. Your username can only consist of alphabetical and number.
                        </span>
                    </div>
                </div>
            -->
                <!--EMAIL-->
                <div class="input">
                    <input class="std-text" type="email" name="email" placeholder="name@example.com"
                           ng-model="user.email"
                           ng-maxlength="30"
                           ng-minlength="5"
                           ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/"
                           required
                           ng-focus><br>
                    <!-- TODO normal email validation -->
                    <div class="validation-error" ng-show="signup.email.$dirty && signup.email.$invalid &&
                    !signup.email.$focused">
                        <span ng-show="signup.email.$error.pattern || signup.email.$error.required ||
                                       signup.email.$error.email">
                            The email address has to be in the format name@example.com.
                        </span>

                    </div>
                </div>

                <!--PASSWORD-->
                <div class="input">
                    <!-- TODO strong levels -->
                    <input class="std-text" type="password" name="password" placeholder="password"
                            ng-model="user.password"
                            ng-maxlength="16"
                            ng-minlength="6"
                            ng-pattern="/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$/"
                            ng-focus
                            required><br>
                    <div class="validation-error" ng-show="signup.password.$dirty && signup.password.$invalid &&
                    !signup.password.$focused">
                        <span ng-show="signup.password.$error.pattern || signup.password.$error.email ||
                                       signup.password.$error.maxlength || signup.password.$error.minlength ||
                                       signup.login.$error.required">
                            Password must contain at least one letter, at least one number, be longer than six
                            charaters and not more than 16 characters.
                        </span>
                    </div>
                </div>

                <!--CONFIRM PASSWORD-->
                <div class="input">
                    <input class="std-text" type="password" name="confirmPassword" placeholder="reenter password"
                           ng-model="user.confirmPassword"
                           password-match="user"
                           ng-focus
                           required><br>
                    <div class="validation-error" ng-show="signup.confirmPassword.$dirty &&
                    signup.confirmPassword.$invalid &&
                    !signup.confirmPassword.$focused">
                        <span ng-show="signup.confirmPassword.$error.required ||
                                       signup.confirmPassword.$error.passwordMatch">
                            These passwords don't match</span>
                    </div>
                </div>

                <input class="std-submit" type="submit" value="Sign up" ng-disabled="signup.$invalid">

            </form>
        </div>
    </div>
    <div class="cont">
        <h1>Easily manage your targets</h1>

        <h2>Share with your friends</h2>
    </div>
    <div class="clear"></div>