<div class="modal-box" style="display: none;">
    <div class="modal-container">

        <i class="remove icon modal-close"></i>

        <div class="crop-container">
            <img src="" id="target" alt="[Jcrop Example]"/>

            <div class="upload-avatar" style="display: none;">
                <div id="preview-pane-large">
                    <div class="preview-container-large">
                        <img src="" id="preview-image-large"
                             class="jcrop-preview-large"
                             alt="Preview"
                             style="display: none">
                    </div>
                </div>

                <div id="preview-pane-small">
                    <div class="preview-container-small">
                        <img src="" id="preview-image-small"
                             class="jcrop-preview-small"
                             alt="Preview"
                             style="display: none">
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="center-content">
                    <div class="blue ui icon button save-photo" ng-click="userCtrl.sendPhoto()">
                        Save
                    </div>
                    <div class="ui button" ng-click="userCtrl.uploadPhoto()">
                        <input id="image-file" name="image-file" type="file" class="hidden">
                        Upload
                    </div>
                </div>
            </div>

            <div class="upload-background" style="display: none;">
                <div class="ui divider"></div>
                <div class="center-content">
                    <div class="blue ui icon button save-photo" ng-click="userCtrl.sendBackground()">
                        Save
                    </div>
                    <div class="ui button" ng-click="userCtrl.uploadBackground()">
                        <input class="hidden" id="image-background" name="image-file" type="file">
                        Upload
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main">

    <div class="aim-add" ng-show="anotherUser.userId === currentUser.userId"
         ng-controller="aimCtrl as aimCtrl">
        <div class="aim-add-button" ng-hide="expandFormAim" ng-click="aimCtrl.expandAddAim()">
            <i class="large plus icon"></i>
            <span>New AIM</span>
        </div>
        <div class="aim-add-form-container">
            <form class="ui form aim-add-form">
                <section class="main-section aim-name">
                    <img class="pic" ng-src="{{user.smallPicture}}">

                    <div class="name" contenteditable="true" attach-user="1"></div>
                    <div class="clear"></div>
                </section>

                <section class="main-section aim-text">
                    <div class="container">
                        <div class="text-wrap">
                            <textarea class="aim-textarea" name="content"></textarea>
                        </div>
                    </div>
                </section>

                <div class="ui horizontal divider">Steps</div>

                <section class="main-section aim-step">
                    <div class="step-container container" ng-repeat="step in steps">
                        <section class="step-item">
                            <div class="step-number">{{$index + 1}}</div>
                            <div class="step-name"
                                 contenteditable="true"
                                 content-model="step.name"
                                 attach-user="2">{{step.name}}</div>
                            <div class="clear"></div>
                        </section>
                        <section class="step-properties">
                            <i class="keyboard icon" ng-click="aimCtrl.showDescription()"></i>
                            <i class="list icon" ng-click="aimCtrl.addSubStep($index)"></i>
                            <input class="picture step-picture{{$index}} hidden" type="file">
                            <i class="calendar icon" ng-click="aimCtrl.setDateTime($event, $index)"></i>
                            <div id="startGroup{{$index}}">
                                <input type="text" class="start-date date hidden" placeholder="Start"
                                       readonly data-field="datetime">
                            </div>
                            <div id="endGroup{{$index}}">
                                <input type="text" class="end-date date hidden" placeholder="End"
                                       data-field="datetime" readonly>
                            </div>

                            <div id="dtBox{{$index}}"></div>
                            <div id="dt2Box{{$index}}"></div>
                        </section>
                        <section>
                            <div class="step-description hidden"
                                 contenteditable="true"
                                 attach-user></div>
                        </section>
                        <section class="subSteps">
                            <div class="container" ng-repeat="subStep in step.subStep">
                                <div class="subStep-number">{{$index + 1}}</div>
                                <div class="subStep-name"
                                     contenteditable="true"
                                     content-model="subStep.name"
                                     attach-user="3">{{subStep.name}}</div>
                                <div class="delete-substep" ng-click="aimCtrl.deleteSubStep($parent.$index, $index)"><i
                                        class="remove icon"></i></div>
                            </div>
                            <div class="clear"></div>
                        </section>
                        <div class="clear"></div>
                    </div>
                </section>
                <button class="ui grey basic button new-step" ng-click="aimCtrl.newStep()">New Step</button>
                <button class="ui grey basic button last-step" ng-click="aimCtrl.deleteStep()">Delete Step</button>

                <div class="ui divider"></div>

                <div class="ui selection dropdown" style="float: left">
                    <input name="gender" type="hidden" value="default">
                    <i class="dropdown icon"></i>

                    <div class="default text">Default</div>
                    <div class="menu">
                        <div class="item" data-value="0">Private</div>
                        <div class="item" data-value="1">Friends</div>
                        <div class="item" data-value="default">Public</div>
                    </div>
                </div>
                <div class="ui teal basic button save-button" ng-click="aimCtrl.saveAim()">
                    Save
                </div>
                <div class="ui orange basic button cancel-button" ng-click="aimCtrl.hideAddAim()">
                    Cancel
                </div>
                <div class="ui teal basic button add-picture" ng-click="aimCtrl.dropDown()">
                    <i class="photo icon"></i>
                    Add picture
                    <input class="aim-picture hidden" type="file" multiple>
                    <div class="dropdown-add-picture hidden">
                        <div class="item" ng-click="aimCtrl.uploadAimPicture();
                        aimCtrl.dropDown()">Upload from computer</div>
                        <div class="item" ng-click="aimCtrl.showDragAndDropField(); aimCtrl.dropDown()">Drag</div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="aim-images-preview hidden" image-drop on-image-drop="aimCtrl.uploadAimPictureDrag()"></div>
                <div class="clear"></div>
            </form>
        </div>

        <!--SEARCH LIST USER ATTACHING-->
        <div class="search-list-attach">
            <div class="ui celled list">
                <a class="item us" ng-repeat="user in friends"
                   ng-click="aimCtrl.setAttachedUser(user.userId, user.login)"
                   click-data="{{user.login}}"
                   ng-hide="searchError">
                    <div class="ui image">
                        <img class="pic" ng-src="{{contextPath + user.smallPicture}}">
                    </div>
                    <div class="content">
                        <div class="header">{{user.name}}</div>
                        {{user.login}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="aim-feed" ng-controller="loadAimsCtrl as loadAimsCtrl">
        <div class="aim" ng-repeat="sortedAims in loadAimsCtrl.sortedAims">
            <section class="head">
                <div class="column-1">
                    <img class="head-image"
                         ng-click="loadAimsCtrl.redirectToUser(sortedAims.userLogin)"
                         ng-src="{{sortedAims.userProfilePicture || anotherUser.smallPicture}}">
                </div>
                <div class="column-2">
                    <div class="user-name">
                        <a class="user-link" href="#" ng-click="loadAimsCtrl.redirectToUser(sortedAims.userLogin)">
                            <span class="first-last-name">
                                {{sortedAims.userName || anotherUser.name}}
                            </span>
                            <span class="login">{{sortedAims.userLogin || anotherUser.login}}</span></a>
                    </div>
                    <div class="clear"></div>
                    <div class="aim-name"
                         ng-model="sortedAims.title"
                         content-editable="">{{sortedAims.title}}</div>
                    <div class="clear"></div>
                </div>
                <div class="column-3">
                    <div class="aim-delete-button"
                         ng-hide="sortedAims.isEditing"
                         ng-click="loadAimsCtrl.deleteAim($index)">
                        <i class="remove icon"></i>
                    </div>
                    <div class="aim-edit-button"
                         ng-hide="sortedAims.isEditing"
                         ng-click="loadAimsCtrl.editAim($index)">
                        <i class="write icon"></i>
                    </div>
                    <div class="clear"></div>
                    <div class="aim-date">{{sortedAims.dateOfAdding}}</div>
                </div>
                <div class="clear"></div>
            </section>
            <section class="content">
                <div class="description" ng-bind-html="sortedAims.description"></div>
                <div class="steps" ng-hide="!sortedAims.stepsCount">
                    <div class="step" ng-repeat="step in sortedAims.steps track by $index"
                         ng-drop="true"
                         ng-drop-success="loadAimsCtrl.onDropComplete($index, $data, $event, $parent.$index)">

                        <div class="drag-container" ng-drag="true" ng-drag-data="{{$index}}">
                            <div class="step-name inner"
                                 ng-cancel-drag
                                 ng-model="step.title"
                                 content-editable=""
                                 placeholder-text="Step title"></div>
                            <ul class="substeps inner" ng-cancel-drag>
                                <li ng-repeat="subStep in step.subSteps track by $index" ng-cancel-drag>
                                    <div class="substep-name"
                                         ng-cancel-drag
                                         ng-model="subStep.title"
                                         content-editable=""
                                         placeholder-text="Substep title"></div>
                                    <div class="delete-substep"
                                         ng-cancel-drag
                                         ng-click="loadAimsCtrl.removeSubStep($parent.$parent.$index,
                                         $parent.$index, $index)"
                                         ng-show="sortedAims.isEditing">
                                        <i class="remove icon"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="drag-button" ng-show="sortedAims.isEditing"><i class="sidebar icon"></i></div>
                            <div class="remove-icon"
                                 ng-cancel-drag
                                 ng-show="sortedAims.isEditing"
                                 ng-click="loadAimsCtrl.removeStep($parent.$index, $index)">
                                <i class="remove icon"></i>
                            </div>
                            <div class="add-substep"
                                 ng-cancel-drag
                                 ng-show="sortedAims.isEditing"
                                 ng-click="loadAimsCtrl.addSubStep($parent.$index, $index)">
                                <i class="list layout icon"></i>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <button class="ui grey basic button add-step"
                        ng-click="loadAimsCtrl.addStep($index)"
                        ng-show="sortedAims.isEditing">New Step</button>
                <div class="clear"></div>
                <div class="aim-images"
                     ng-click="loadAimsCtrl.deleteImage($event, $index)"
                     image-drop
                     level-drop="1"
                     on-image-drop="loadAimsCtrl.uploadEditableAimPictureDrag($index)">
                    <div ng-repeat="image in sortedAims.aimPictures" image-grid="">
                        <img class="image"
                             ng-src="{{contextPath + image.picturePath}}">
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section class="bottom-content" ng-hide="loadAimsCtrl.editableAim">
                <div class="load-steps"
                     ng-hide="!sortedAims.stepsCount"
                     ng-click="loadAimsCtrl.getSteps($index)">{{sortedAims.stepsCount}} Steps</div>
                <div class="like"
                     ng-class="{'like': !sortedAims.isUserLiked, 'liked': sortedAims.isUserLiked}"
                     ng-click="loadAimsCtrl.likeAim($index)"><i class="heart icon"></i>{{sortedAims.likesCount}}</div>
                <div class="repost"
                     ng-class="{'repost': !sortedAims.isUserReposted, 'reposted': sortedAims.isUserReposted}"
                     ng-hide="currentUser.login === anotherUser.login"
                     ng-click="loadAimsCtrl.repost($index)"><i class="reply icon"></i>{{sortedAims.repostCount}}</div>
                <div class="show-comments"
                        ng-click="loadAimsCtrl.getComments($index)"><i class="comment icon"></i></div>

                <div class="clear"></div>
            </section>

            <div class="ui teal basic button" ng-show="sortedAims.isEditing"
                    style="float: right;"
                    ng-click="loadAimsCtrl.updateAim($index)">Save</div>
            <div class="ui orange basic button"
                 ng-show="sortedAims.isEditing"
                 style="float: right;"
                 ng-click="loadAimsCtrl.cancelAimEdit($index)">Cancel</div>
            <div class="ui teal basic button add-picture"
                 ng-click="loadAimsCtrl.uploadEditableAimPicture(undefined, $index)"
                 ng-show="sortedAims.isEditing"
                 style="float: right;">
                <i class="photo icon"></i>
                Add picture
                <input class="aim-picture{{$index}} hidden" type="file" multiple>
            </div>
            <div class="clear"></div>

            <section class="comments" ng-controller="commentsCtrl as commentsCtrl"
                     ng-show="sortedAims.isCommentsActive">
                <div class="comments-list">
                    <div class="comment" ng-repeat="comment in commentsCtrl.comments">
                        <section class="column-1">
                            <img class="image"
                                 ng-src="{{comment.userPicture}}">
                        </section>
                        <section class="column-2">
                            <div class="name">{{comment.user.name || currentUser.name}}</div>
                            <div class="date">{{comment.dateOfAdding}}</div>
                            <div class="content"
                                 content-editable=""
                                 ng-model="comment.content">{{comment.content}}</div>
                            <div class="remove-comment"
                                 ng-click="commentsCtrl.deleteComment(comment.commentId, $index)">
                                <i class="remove icon"></i>
                            </div>
                            <div class="edit-comment" ng-hide="commentsCtrl.isEditing || !comment.isEditable">
                                <i class="write icon"
                                   ng-click="commentsCtrl.editComment($event, $index)"></i>
                            </div>
                        </section>
                        <div class="clear"></div>
                        <div class="comment-bottom-buttons">
                            <div class="like"
                                 ng-class="{'like': !comment.isUserLiked, 'liked': comment.isUserLiked}"
                                 ng-click="commentsCtrl.likeComment($index, comment.commentId)"
                                 ng-hide="comment.isEditing">
                                <i class="heart icon"></i> {{comment.likesCount}}
                            </div>
                            <div class="reply"
                                 ng-hide="comment.isEditing"
                                 ng-click="commentsCtrl.reply($parent.$index, comment.user.login)">Reply</div>
                            <div class="mini ui teal button"
                                 ng-show="comment.isEditing"
                                 ng-click="commentsCtrl.updateComment($event, $index)">Save</div>
                            <div class="mini ui teal button"
                                 ng-show="comment.isEditing"
                                 ng-click="commentsCtrl.cancelEditing($event, $index)">Cancel</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="add-comment">
                    <div class="comment-area"
                         contenteditable="true"
                         content-editable=""
                         enter-press="commentsCtrl.createComment()"
                         ng-model="commentsCtrl.comment"
                         ng-focus="commentsCtrl.isFocused = true;"
                         placeholder-text="Your comment"></div>
                    <div class="tiny ui teal button"
                         ng-show="commentsCtrl.isFocused"
                         ng-click="commentsCtrl.createComment()">Post</div>
                    <div class="clear"></div>
                </div>
            </section>

        </div>

        <div infinite-scroll="loadAimsCtrl.getAims()"
             infinite-scroll-disabled='loadAimsCtrl.busyDataLoading'></div>
        <div class="no-more-aims" ng-show="loadAimsCtrl.noMoreAims">Nunc ac sapien a dolor cursus convallis</div>
        <div class="ui active inline loader aims-load-animation" ng-show="loadAimsCtrl.loading"></div>
    </div>
</div>