<div class="modal-box" style="display: none;">
    <div class="modal-container">

        <i class="remove icon modal-close"></i>

        <div class="crop-container">
            <img src="" id="target" alt="[Jcrop Example]"/>

            <div class="upload-avatar" style="display: none;">
                <div id="preview-pane-large">
                    <div class="preview-container-large">
                        <img src="" id="preview-image-large"
                             class="jcrop-preview-large"
                             alt="Preview"
                             style="display: none">
                    </div>
                </div>

                <div id="preview-pane-small">
                    <div class="preview-container-small">
                        <img src="" id="preview-image-small"
                             class="jcrop-preview-small"
                             alt="Preview"
                             style="display: none">
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="center-content">
                    <div class="blue ui icon button save-photo" ng-click="userCtrl.sendPhoto()">
                        Save
                    </div>
                    <div class="ui button" ng-click="userCtrl.uploadPhoto()">
                        <input id="image-file" name="image-file" type="file" class="hidden">
                        Upload
                    </div>
                </div>
            </div>

            <div class="upload-background" style="display: none;">
                <div class="ui divider"></div>
                <div class="center-content">
                    <div class="blue ui icon button save-photo" ng-click="userCtrl.sendBackground()">
                        Save
                    </div>
                    <div class="ui button" ng-click="userCtrl.uploadBackground()">
                        <input class="hidden" id="image-background" name="image-file" type="file">
                        Upload
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main">

    <div class="aim-add"
         ng-include src="'components/user/aim-add.html'"
         ng-show="anotherUser.userId === currentUser.userId"
         ng-controller="aimAddCtrl as aimAddCtrl"></div>

    <div class="aim-feed" ng-controller="loadAimsCtrl as loadAimsCtrl">
        <div class="aim" ng-repeat="sortedAim in loadAimsCtrl.sortedAims">

            <div ng-controller="aimCtrl as aimCtrl">

                <div class="loaded-aim" ng-include="'components/user/loaded-aim.html'"></div>

                <section class="comments" ng-controller="commentsCtrl as commentsCtrl"
                         ng-include src="'components/user/comments.html'"
                         ng-show="aimCtrl.aim.isCommentsActive"></section>
            </div>

        </div>

        <div infinite-scroll="loadAimsCtrl.getAims()"
             infinite-scroll-disabled='loadAimsCtrl.busyDataLoading'></div>
        <div class="no-more-aims" ng-show="loadAimsCtrl.noMoreAims">Nunc ac sapien a dolor cursus convallis</div>
        <div class="ui active inline loader aims-load-animation" ng-show="loadAimsCtrl.loading"></div>
    </div>
</div>