body {
  background-color: #F3F9F9; }

.modal-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  display: none; }
  .modal-box img {
    float: left; }
  .modal-box .modal-container {
    width: 810px;
    height: auto;
    display: block;
    margin: 100px auto;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    position: relative; }
    .modal-box .modal-container .crop-container {
      padding: 30px 30px 0 30px;
      background-color: #ffffff;
      margin: 0 auto;
      border-radius: 5px; }
    .modal-box .modal-container .jcrop-holder #preview-pane-large {
      display: block;
      position: absolute;
      z-index: 2000;
      top: 0px;
      right: -280px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
    .modal-box .modal-container #preview-pane-large .preview-container-large {
      width: 210px;
      height: 210px;
      overflow: hidden; }
    .modal-box .modal-container .jcrop-holder #preview-pane-small {
      display: block;
      position: absolute;
      z-index: 2000;
      top: 0px;
      right: -350px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
    .modal-box .modal-container #preview-pane-small .preview-container-small {
      width: 30px;
      height: 30px;
      overflow: hidden; }
    .modal-box .modal-container .center-content {
      margin: 0 auto;
      width: 190px;
      display: block;
      padding-bottom: 20px; }
    .modal-box .modal-container .modal-close {
      position: absolute;
      top: 7px;
      right: 5px;
      cursor: pointer;
      color: #7a7a7a; }
    .modal-box .modal-container .modal-close:hover {
      color: #2e2e2e; }

.background {
  display: block;
  min-width: 980px;
  height: 300px;
  margin-top: 60px;
  border-bottom: 1px solid #727272;
  position: relative;
  -webkit-box-shadow: inset 3px -13px 12px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 3px -13px 12px -16px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -8px 8px -10px rgba(0, 0, 0, 0.75);
  background-size: 100%; }
  .background .edit-background-hover {
    display: block;
    float: right;
    width: 15.92592592592593%;
    height: 300px;
    background-color: transparent;
    transition: all .2s linear;
    color: transparent; }
    .background .edit-background-hover .edit-background-panel {
      display: none;
      float: right;
      width: 20%;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.7);
      transition: all .2s linear; }
    .background .edit-background-hover .edit-background {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      padding: 4px 4px 4px 6px;
      color: white; }

.wrapper {
  margin-top: 0;
  z-index: 98 !important;
  position: relative; }
  .wrapper .navigation {
    display: inline-block;
    float: left;
    margin-top: -250px;
    width: 222px;
    min-height: 390px;
    overflow: hidden;
    position: relative;
    border: 1px solid #bababa;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    background-color: white; }
    .wrapper .navigation .user-avatar {
      box-sizing: border-box;
      width: 220px;
      padding: 5px; }
    .wrapper .navigation .upload-photo {
      z-index: 108;
      background-color: transparent;
      border: none;
      border-radius: 0;
      position: absolute;
      top: 165px;
      left: 5px;
      width: 210px;
      height: 50px;
      line-height: 25px;
      color: rgba(215, 215, 215, 0);
      transition: all 300ms; }
    .wrapper .navigation .upload-photo:hover {
      background-color: rgba(0, 0, 0, 0.4);
      color: #d7d7d7; }
    .wrapper .navigation .follow-button-container {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 5px; }
      .wrapper .navigation .follow-button-container .follow-button, .wrapper .navigation .follow-button-container .unfollow-button {
        background-color: #56aeff;
        color: black; }
      .wrapper .navigation .follow-button-container .following-button {
        background-color: transparent;
        color: #6c6c6c;
        cursor: default; }
      .wrapper .navigation .follow-button-container .unfollow-button {
        display: none;
        cursor: pointer; }
    .wrapper .navigation .scrolling-container {
      display: block;
      position: inherit; }
      .wrapper .navigation .scrolling-container .user-info p {
        padding-left: 3%; }
      .wrapper .navigation .scrolling-container .user-info .name {
        font-size: 1.2em;
        font-weight: bold;
        padding-top: 10px; }
      .wrapper .navigation .scrolling-container .drafts-button {
        padding: 0;
        margin-bottom: 5px;
        font-size: 1.3em;
        color: #3a3a3a;
        text-align: center;
        cursor: pointer; }
      .wrapper .navigation .scrolling-container .drafts-button:hover {
        background-color: #ebebeb; }
      .wrapper .navigation .scrolling-container .bookmarks {
        display: block;
        width: 220px;
        background-color: white; }
        .wrapper .navigation .scrolling-container .bookmarks .col {
          display: inline-block;
          float: left;
          box-sizing: border-box;
          width: 33%;
          text-align: center;
          margin-bottom: 10px;
          border-right: 1px solid #ccc;
          transition: background-color 500ms;
          cursor: pointer;
          background-color: white; }
          .wrapper .navigation .scrolling-container .bookmarks .col .num {
            color: #3A528E;
            font-size: 1.4em;
            font-weight: bold; }
        .wrapper .navigation .scrolling-container .bookmarks .col:last-child {
          border: none; }
        .wrapper .navigation .scrolling-container .bookmarks .col:hover {
          background-color: #E5EBFB; }
    .wrapper .navigation .scrolled {
      padding-top: 3px;
      position: fixed;
      top: 60px;
      left: 184px;
      background-color: white;
      border: 1px solid #bababa;
      -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3); }
    .wrapper .navigation .unscrolled {
      position: inherit; }

.main {
  display: inline-block;
  float: left;
  width: 640px;
  margin-left: 3%;
  margin-top: 15px;
  padding-bottom: 30px; }
  .main .aim-add {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    display: block;
    text-align: center;
    color: #193533;
    line-height: 30px;
    position: relative; }
    .main .aim-add .aim-add-button {
      border: 1px solid #e0e6e6;
      border-radius: 3px;
      width: 100%;
      cursor: pointer; }
      .main .aim-add .aim-add-button span {
        display: block;
        font-weight: bold;
        font-size: 1.1em; }
    .main .aim-add .aim-add-form-container {
      display: none;
      width: 100%;
      border: 1px solid #e0e6e6;
      border-radius: 5px;
      padding: 10px;
      box-sizing: border-box; }
      .main .aim-add .aim-add-form-container .main-section {
        width: 100%;
        display: block;
        background-color: white; }
      .main .aim-add .aim-add-form-container .aim-name {
        padding-bottom: 10px; }
        .main .aim-add .aim-add-form-container .aim-name .pic {
          width: 38px;
          height: 38px;
          float: left; }
        .main .aim-add .aim-add-form-container .aim-name .name {
          width: 566px;
          float: left;
          border: 1px solid #cccccc;
          margin-left: 10px;
          margin-top: 3px;
          text-align: left;
          padding-left: 5px;
          border-radius: 3px; }
        .main .aim-add .aim-add-form-container .aim-name .name:focus {
          outline: none; }
      .main .aim-add .aim-add-form-container .aim-text {
        min-height: 220px; }
        .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons {
          width: 100%; }
          .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .bold-button, .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .italic-button, .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .list-button {
            float: left;
            width: 25px;
            height: 25px;
            line-height: 0px;
            background-color: white;
            border: 1px solid #ccc;
            border-bottom: none; }
          .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .italic-button, .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .list-button {
            border-left: none; }
          .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .bold-button:focus, .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .italic-button:focus, .main .aim-add .aim-add-form-container .aim-text .text-wrap .edit-buttons .list-button:focus {
            outline: none; }
        .main .aim-add .aim-add-form-container .aim-text .text-wrap .content-editable {
          text-align: left;
          width: 100%;
          height: 200px;
          border: 1px solid #ccc;
          padding: 5px;
          transition: all 0.2s;
          line-height: 1em; }
          .main .aim-add .aim-add-form-container .aim-text .text-wrap .content-editable span {
            line-height: 1em; }
        .main .aim-add .aim-add-form-container .aim-text .text-wrap .content-editable:focus {
          border: 1px solid #acacac;
          outline: none; }
      .main .aim-add .aim-add-form-container .aim-step {
        padding: 5px 0 5px 0; }
        .main .aim-add .aim-add-form-container .aim-step .container {
          margin-top: 10px; }
        .main .aim-add .aim-add-form-container .aim-step section.step-item .step-number {
          float: left;
          width: 25px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 1.2em; }
        .main .aim-add .aim-add-form-container .aim-step section.step-item .step-name {
          float: left;
          width: 579px;
          border: 1px solid #cccccc;
          margin-left: 10px;
          margin-top: 3px;
          text-align: left;
          padding-left: 5px;
          border-radius: 3px; }
        .main .aim-add .aim-add-form-container .aim-step section.step-item .step-name:focus {
          outline: none; }
        .main .aim-add .aim-add-form-container .aim-step section.step-properties {
          text-align: left;
          margin-left: 35px;
          cursor: default; }
          .main .aim-add .aim-add-form-container .aim-step section.step-properties i {
            color: #a6a6a6;
            cursor: pointer; }
          .main .aim-add .aim-add-form-container .aim-step section.step-properties i:hover {
            color: #193533; }
          .main .aim-add .aim-add-form-container .aim-step section.step-properties .date {
            width: 120px;
            height: 20px;
            border-radius: 0px;
            margin-top: 3px;
            padding-left: 1px;
            padding-right: 1px; }
        .main .aim-add .aim-add-form-container .aim-step .step-description {
          padding-left: 5px;
          width: 579px;
          height: 120px;
          margin-left: 35px;
          border: 1px solid #cccccc;
          text-align: left;
          border-radius: 3px; }
        .main .aim-add .aim-add-form-container .aim-step .step-description:focus {
          outline: none; }
        .main .aim-add .aim-add-form-container .aim-step section.subSteps {
          float: right;
          width: 585px;
          box-sizing: border-box; }
          .main .aim-add .aim-add-form-container .aim-step section.subSteps .container {
            float: left;
            display: block;
            width: 100%; }
          .main .aim-add .aim-add-form-container .aim-step section.subSteps .subStep-number {
            display: block;
            float: left;
            width: 25px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 1em;
            box-sizing: border-box; }
          .main .aim-add .aim-add-form-container .aim-step section.subSteps .subStep-name {
            display: block;
            float: left;
            width: 522px;
            border: 1px solid #cccccc;
            margin-top: 3px;
            text-align: left;
            padding-left: 5px;
            box-sizing: border-box;
            border-radius: 3px; }
          .main .aim-add .aim-add-form-container .aim-step section.subSteps .subStep-name:focus {
            outline: none; }
          .main .aim-add .aim-add-form-container .aim-step section.subSteps .delete-substep {
            margin-top: 3px;
            width: 30px;
            height: 32px;
            cursor: pointer;
            display: block;
            float: left;
            color: #ccc; }
          .main .aim-add .aim-add-form-container .aim-step section.subSteps .delete-substep:hover {
            color: #c45060; }
      .main .aim-add .aim-add-form-container .new-step {
        margin-top: 10px; }
      .main .aim-add .aim-add-form-container .add-picture, .main .aim-add .aim-add-form-container .save-button, .main .aim-add .aim-add-form-container .cancel-button {
        float: right; }
      .main .aim-add .aim-add-form-container .add-picture {
        position: relative; }
      .main .aim-add .aim-add-form-container .dropdown-add-picture {
        background-color: #fafafa;
        position: absolute;
        top: 50px;
        right: -10px;
        width: 150px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        z-index: 100;
        display: none; }
        .main .aim-add .aim-add-form-container .dropdown-add-picture div {
          color: #464646;
          border-bottom: 1px solid #eeeeee;
          border-right: 1px solid #eeeeee;
          border-left: 1px solid #eeeeee;
          cursor: pointer;
          height: 30px;
          line-height: 30px; }
      .main .aim-add .aim-add-form-container .dropdown-add-picture::before {
        content: '';
        position: absolute;
        top: -16px;
        right: 16px;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 16px solid #f1f1f1;
        z-index: 100; }
      .main .aim-add .aim-add-form-container .aim-images-preview {
        padding: 2px;
        margin-top: 10px;
        background-color: #e6e6e6;
        border: 1px solid #cccccc;
        width: 483px;
        height: 300px;
        min-height: 123px;
        display: none; }
        .main .aim-add .aim-add-form-container .aim-images-preview img {
          display: none; }
        .main .aim-add .aim-add-form-container .aim-images-preview .remove-icon-container {
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 3px;
          right: 3px;
          line-height: 0 !important;
          padding-bottom: 3px;
          height: 16px;
          cursor: pointer;
          border-radius: 200px; }
          .main .aim-add .aim-add-form-container .aim-images-preview .remove-icon-container i.icon {
            color: white;
            margin: 0 0 0 1px; }
        .main .aim-add .aim-add-form-container .aim-images-preview .remove-icon-container:hover {
          background-color: rgba(0, 0, 0, 0.8); }
  .main .aim-feed .aim {
    margin-top: 16px;
    width: 100%;
    background-color: #ffffff;
    height: auto;
    display: block; }
    .main .aim-feed .aim .head {
      border-bottom: 1px solid #e2e2e2;
      background-color: #ffffff;
      padding: 10px; }
      .main .aim-feed .aim .head .column-1, .main .aim-feed .aim .head .column-2, .main .aim-feed .aim .head .column-3, .main .aim-feed .aim .head .head-image, .main .aim-feed .aim .head .user-name {
        display: inline-block;
        float: left; }
      .main .aim-feed .aim .head .column-1, .main .aim-feed .aim .head .column-2, .main .aim-feed .aim .head .column-3 {
        margin-left: 5px; }
      .main .aim-feed .aim .head .column-2 {
        width: 470px; }
      .main .aim-feed .aim .head .column-3 {
        width: 79px;
        text-align: right; }
      .main .aim-feed .aim .head .head-image {
        cursor: pointer; }
      .main .aim-feed .aim .head .user-name {
        cursor: pointer; }
        .main .aim-feed .aim .head .user-name .user-link {
          color: #7a7a7a; }
        .main .aim-feed .aim .head .user-name .first-last-name {
          font-size: 1em; }
      .main .aim-feed .aim .head .aim-name {
        margin-top: 12px;
        font-size: 1.2em; }
      .main .aim-feed .aim .head .aim-edit-button, .main .aim-feed .aim .head .aim-delete-button {
        color: #bcbcbc;
        cursor: pointer;
        float: right; }
      .main .aim-feed .aim .head .aim-edit-button:hover, .main .aim-feed .aim .head .aim-delete-button:hover {
        color: #d5d5d5; }
      .main .aim-feed .aim .head .aim-date {
        color: #7a7a7a;
        margin-top: 16px; }
    .main .aim-feed .aim .content {
      padding: 10px; }
      .main .aim-feed .aim .content .description {
        padding: 10px; }
      .main .aim-feed .aim .content .aim-images {
        margin-top: 10px;
        height: 350px;
        background-color: #f5f5f5;
        border: 1px solid #e9e9e9;
        position: relative;
        display: none; }
        .main .aim-feed .aim .content .aim-images .image {
          display: none; }
      .main .aim-feed .aim .content .aim-images-editing {
        height: 0;
        min-height: 350px;
        display: block; }
      .main .aim-feed .aim .content .step .drag-container {
        position: relative; }
        .main .aim-feed .aim .content .step .drag-container .step-name {
          font-size: 1.3em;
          color: #333333;
          min-height: 23px;
          max-width: 564px; }
        .main .aim-feed .aim .content .step .drag-container .finished {
          background-color: #ccc; }
        .main .aim-feed .aim .content .step .drag-container .finish-step {
          position: absolute;
          right: 3px;
          top: 3px;
          cursor: pointer;
          display: none; }
        .main .aim-feed .aim .content .step .drag-container .drag-button {
          position: absolute;
          right: 3px;
          top: 3px;
          cursor: pointer;
          color: #dfdfdf; }
        .main .aim-feed .aim .content .step .drag-container .drag-button:hover {
          color: #d5d5d5; }
        .main .aim-feed .aim .content .step .drag-container .remove-icon {
          position: absolute;
          right: 19px;
          top: 2px;
          cursor: pointer;
          color: #dfdfdf; }
        .main .aim-feed .aim .content .step .drag-container .remove-icon:hover {
          color: #d5d5d5; }
        .main .aim-feed .aim .content .step .drag-container .add-substep {
          position: absolute;
          right: 35px;
          top: 3px;
          cursor: pointer;
          color: #dfdfdf; }
        .main .aim-feed .aim .content .step .drag-container .add-substep:hover {
          color: #d5d5d5; }
        .main .aim-feed .aim .content .step .drag-container .substeps {
          list-style-type: none;
          padding-left: 20px; }
          .main .aim-feed .aim .content .step .drag-container .substeps li {
            position: relative; }
            .main .aim-feed .aim .content .step .drag-container .substeps li .delete-substep {
              display: none;
              position: absolute;
              top: 0px;
              right: 2px;
              cursor: pointer;
              color: #dfdfdf; }
            .main .aim-feed .aim .content .step .drag-container .substeps li .delete-substep:hover {
              color: #d5d5d5; }
            .main .aim-feed .aim .content .step .drag-container .substeps li .substep-name {
              display: block;
              width: 573px; }
          .main .aim-feed .aim .content .step .drag-container .substeps li:hover .delete-substep {
            display: block; }
      .main .aim-feed .aim .content .step .drag-container:hover .finish-step {
        display: block; }
      .main .aim-feed .aim .content .add-step {
        float: right; }
    .main .aim-feed .aim .bottom-content {
      padding-bottom: 10px;
      padding-right: 10px; }
      .main .aim-feed .aim .bottom-content .show-comments, .main .aim-feed .aim .bottom-content .repost, .main .aim-feed .aim .bottom-content .like, .main .aim-feed .aim .bottom-content .load-steps {
        display: inline-block;
        float: right;
        color: #cccccc;
        cursor: pointer;
        margin-right: 5px; }
        .main .aim-feed .aim .bottom-content .show-comments i:hover, .main .aim-feed .aim .bottom-content .repost i:hover, .main .aim-feed .aim .bottom-content .like i:hover, .main .aim-feed .aim .bottom-content .load-steps i:hover {
          color: #5e5e5e; }
      .main .aim-feed .aim .bottom-content .load-steps {
        float: left;
        margin: 0 0 0 10px; }
      .main .aim-feed .aim .bottom-content .liked, .main .aim-feed .aim .bottom-content .reposted {
        cursor: pointer;
        display: inline-block;
        float: right;
        color: #157564 !important;
        margin-right: 5px; }
    .main .aim-feed .aim .comments {
      box-sizing: border-box;
      padding: 0 10px 10px 10px;
      width: 100%;
      background-color: #E6F1F3;
      position: relative;
      /* Comments list scrollbar style*/
      /* Track */
      /* Handle */ }
      .main .aim-feed .aim .comments .comments-list {
        max-height: 400px;
        padding: 10px;
        overflow-y: auto; }
        .main .aim-feed .aim .comments .comments-list .comment {
          margin-top: 3px; }
          .main .aim-feed .aim .comments .comments-list .comment .column-1, .main .aim-feed .aim .comments .comments-list .comment .column-2 {
            display: inline-block;
            float: left;
            box-sizing: border-box;
            position: relative; }
          .main .aim-feed .aim .comments .comments-list .comment .column-1 {
            width: 45px; }
          .main .aim-feed .aim .comments .comments-list .comment .column-2 {
            width: 540px;
            padding: 0 5px 0 5px; }
          .main .aim-feed .aim .comments .comments-list .comment .user-picture {
            width: 45px; }
          .main .aim-feed .aim .comments .comments-list .comment .name {
            font-weight: bold;
            font-size: 1.2em;
            color: #293334; }
          .main .aim-feed .aim .comments .comments-list .comment .login {
            font-size: 1.1em; }
          .main .aim-feed .aim .comments .comments-list .comment .date {
            font-size: 0.9em;
            color: #b3b3b3; }
          .main .aim-feed .aim .comments .comments-list .comment .content {
            padding: 0;
            display: block;
            margin-top: 7px;
            font-size: 1.1em; }
          .main .aim-feed .aim .comments .comments-list .comment .comment-bottom-buttons {
            position: relative;
            height: 15px;
            width: 583px;
            margin: 0; }
          .main .aim-feed .aim .comments .comments-list .comment .edit-comment, .main .aim-feed .aim .comments .comments-list .comment .remove-comment {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            color: #c8c8c8;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease; }
          .main .aim-feed .aim .comments .comments-list .comment .remove-comment {
            top: 1px;
            right: 1px; }
          .main .aim-feed .aim .comments .comments-list .comment .edit-comment {
            top: 1px;
            right: 16px; }
          .main .aim-feed .aim .comments .comments-list .comment .edit-comment:hover, .main .aim-feed .aim .comments .comments-list .comment .remove-comment:hover {
            color: #9d9d9d; }
          .main .aim-feed .aim .comments .comments-list .comment .reply, .main .aim-feed .aim .comments .comments-list .comment .like {
            float: right;
            cursor: pointer;
            margin-right: 5px;
            color: #c8c8c8;
            opacity: 0;
            display: block;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease; }
          .main .aim-feed .aim .comments .comments-list .comment .like {
            width: 25px; }
          .main .aim-feed .aim .comments .comments-list .comment .liked {
            opacity: 1;
            cursor: pointer;
            display: inline-block;
            float: right;
            color: #157564 !important;
            width: 25px;
            margin-right: 5px; }
          .main .aim-feed .aim .comments .comments-list .comment .liked-notby-user {
            opacity: 1;
            cursor: pointer;
            width: 25px;
            float: right;
            color: #c8c8c8;
            margin-right: 5px; }
          .main .aim-feed .aim .comments .comments-list .comment .reply:hover, .main .aim-feed .aim .comments .comments-list .comment .like:hover {
            color: #9d9d9d; }
          .main .aim-feed .aim .comments .comments-list .comment .button {
            float: right;
            border-radius: 0;
            margin-top: 5px; }
        .main .aim-feed .aim .comments .comments-list .comment:hover .edit-comment, .main .aim-feed .aim .comments .comments-list .comment:hover .remove-comment,
        .main .aim-feed .aim .comments .comments-list .comment:hover .reply {
          opacity: 1; }
        .main .aim-feed .aim .comments .comments-list .comment:hover .like {
          opacity: 1;
          width: 25px; }
      .main .aim-feed .aim .comments .comments-list::-webkit-scrollbar {
        width: 8px; }
      .main .aim-feed .aim .comments .comments-list::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; }
      .main .aim-feed .aim .comments .comments-list::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0;
        border-radius: 0;
        background: #C1D2DC;
        -webkit-box-shadow: none; }
      .main .aim-feed .aim .comments .comments-list::-webkit-scrollbar-thumb:window-inactive {
        background: #C1D2DC; }
      .main .aim-feed .aim .comments .add-comment {
        padding: 10px; }
        .main .aim-feed .aim .comments .add-comment .comment-area {
          border: 1px solid #d3dddf;
          background-color: white;
          width: 100%;
          font-size: 1em;
          padding: 3px;
          outline: none; }
        .main .aim-feed .aim .comments .add-comment .button {
          float: right;
          margin-top: 5px;
          border-radius: 0; }
  .main .aim-feed .no-more-aims {
    display: block;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: #cccccc; }
  .main .aim-feed .aims-load-animation {
    margin: 50px 300px;
    display: block;
    width: 40px; }

.active-font-btn {
  background-color: #a4a4a4 !important; }

.image-drag-enter {
  display: block;
  border: 2px dashed black;
  opacity: 0.3;
  color: white;
  background: none; }

.drag-enter {
  background-color: #e7ffec; }

.editable-substep {
  border: none;
  text-align: left;
  border-radius: 2px;
  outline: none;
  margin-top: 5px; }

.editable-substep:hover {
  background-color: #fafafa; }

.editable {
  border: none;
  text-align: left;
  border-radius: 2px;
  outline: none;
  margin-top: 5px; }

.editable:hover {
  background-color: #f4f4f4; }

.editable-comment {
  text-align: left;
  outline: none;
  border: 1px solid #d3dddf;
  background-color: white; }

.search-list-attach {
  background-color: white;
  position: absolute;
  width: 197px;
  border-radius: 2px;
  display: none;
  border: 1px solid #a6a6a6;
  border-top: none;
  z-index: 999; }
  .search-list-attach .search-list-attach-close {
    float: right;
    height: 15px;
    cursor: pointer; }
  .search-list-attach .pic {
    width: 30px;
    height: 30px; }
  .search-list-attach .content {
    text-align: left; }
  .search-list-attach a.item.us.active {
    color: #78c4ff !important;
    background-color: #f0f0f0; }
  .search-list-attach .searchError {
    text-align: center;
    color: #474747; }
  .search-list-attach .advanced-search {
    text-align: center;
    color: #08033e; }
  .search-list-attach .advanced-search:hover {
    color: #78c4ff; }

.users-liked {
  background-color: rgba(0, 0, 0, 0.6);
  width: 185px;
  padding: 5px 0 5px 5px;
  border-radius: 2px;
  margin: 0;
  transition: all 0.5s;
  position: absolute; }
  .users-liked .users-liked-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .users-liked .users-liked-list li {
      float: left; }
      .users-liked .users-liked-list li img {
        margin-right: 5px;
        width: 30px;
        vertical-align: top;
        cursor: pointer; }

.users-liked::before {
  content: '';
  position: absolute;
  top: 40px;
  right: 70px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 16px solid rgba(0, 0, 0, 0.6);
  z-index: 100; }

.error-message-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: transparent;
  display: none; }
  .error-message-block .error-message {
    width: 20%;
    height: 25%;
    display: block;
    margin: 200px auto;
    background-color: white;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    padding: 5px; }
    .error-message-block .error-message .remove {
      position: absolute !important;
      right: 3px !important;
      top: 5px !important;
      cursor: pointer; }
    .error-message-block .error-message .text {
      display: block;
      margin-top: 10%;
      width: 100%; }

/*# sourceMappingURL=user.css.map */
