<div class="message">Password recovery</div>
<div class="wrap">
    <h3 ng-hide="result.success">Please, enter your new password</h3>

    <div ng-show="result.success">
        <h3>Check Your Email</h3>
        <p> Your password was changed. Please, wait a while... </p>
    </div>

    <div ng-show="password.newPassword.$dirty && password.newPassword.$invalid">
                        <span class="valid" ng-show="password.newPassword.$error.pattern || password.newPassword.$error.email ||
                                       password.newPassword.$error.maxlength || password.newPassword.$error.minlength ||
                                       password.newPassword.$error.required">
                            Password must contain at least one letter, at least one number, be longer than six
                            charaters and not more than 16 characters.
                        </span>
    </div>

    <form class="signin" name="password" ng-hide="result.success" ng-submit="sendNewPassword()">
        <input class="std-text" type="password" name="newPassword" placeholder="New Password"
               ng-model="recovery.password"
               ng-maxlength="16"
               ng-minlength="6"
               ng-pattern="/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$/"
               ng-model-options="{ updateOn: 'blur' }"
               autofocus><br>

        <input class="std-text" type="password" name="confirmPassword" placeholder="Reenter New Password"
               ng-model="confirmPassword"
               ng-change="isMatchFunc()"
               ng-maxlength="16"
               ng-minlength="6"
               required><br>
        <input class="std-submit" type="submit" value="Submit" ng-disabled="!isMatch || password.$invalid">
    </form>
</div>