<div class="message">Password recovery</div>
<div class="wrap">

    <h3 ng-hide="result.success">First, enter your email</h3>

    <div ng-show="result.success">
        <h3>Check Your Email</h3>
        <p> We've sent an email to your email address. Click the link in the email to reset your password. </p>
    </div>

    <form class="signin" name="signup" ng-hide="result.success" ng-submit="sendEmail()">
        <input class="std-text" type="text" name="email" placeholder="Email"
               ng-change="isEmptyFunc()"
               ng-model="recovery.email"
               ng-maxlength="30"
               ng-minlength="5"
               ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/"
               ng-model-options="{ updateOn: 'blur' }"
               autofocus><br>
        <div class="valid" ng-show="signup.email.$dirty && signup.email.$invalid">
                        <span ng-show="signup.email.$error.pattern || signup.email.$error.required ||
                                       signup.email.$error.email">
                            Accepted format name@example.com.
                        </span>

        </div>
        <input class="std-submit" type="submit" value="Submit" ng-disabled="isEmpty || signup.$invalid">
    </form>
</div>