<div class="main" ng-cloak>
    <h2 class="ui header">
        <i class="settings icon"></i>

        <div class="content">
            Account Settings
            <div class="sub header">Change password</div>
        </div>
    </h2>
    <div class="ui divider"></div>

    <!--FORM-------------------------->
    <form name="update" class="ui form">

        <!--CURRENT PASSWORD------>
        <div class="two fields">
            <div class="required field">
                <label class="std-label">Current password</label>

                <input type="password" name="oldPassword" placeholder="Password" ng-model="user.oldPassword"
                       required>
            </div>
            <div class="field"></div>
        </div>

        <!--NEW PASSWORD------>
        <div class="two fields">
            <div class="required field">
                <label class="std-label">New password</label>

                <div ng-show="update.newPassword.$dirty && update.newPassword.$invalid">
                    <span class="email-bad" ng-show="update.newPassword.$error.maxlength ||
                                                 update.newPassword.$error.minlength ||
                                                 update.newPassword.$error.pattern ||
                                                 update.newPassword.$error.required">
                        Bad
                    </span>
                </div>
            <span class="good" ng-show="update.newPassword.$dirty && !update.newPassword.$invalid">
                Good!
            </span>

                <div class="ui icon input">
                    <input type="password" name="newPassword" placeholder="New password" ng-model="user.password"
                           ng-model="user.password"
                           ng-maxlength="16"
                           ng-minlength="6"
                           ng-pattern="/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$/"
                           required>
                    <i class="info green icon link" data-content="Password must contain at least one letter, at least one
                number, be longer than six charaters and not more than 16 characters." data-variation="small"></i>
                </div>
            </div>
            <div class="field"></div>
        </div>

        <!--CONFIRM PASSWORD------>
        <div class="two fields">
            <div class="required field">
                <label class="std-label">Repeat password</label>

                <div class="ui input">
                    <input type="password" name="repeatPassword" placeholder="Repeat password"
                           ng-model="user.confirmPassword"
                           required>
                </div>
            </div>
            <div class="field"></div>
        </div>

        <!--ERROR MESSAGE------>
        <div class="ui bottom attached warning message hidden">
            Password that you entered is wrong!
        </div>

        <!--BUTTON------>
        <div class="ui blue button save" ng-click="updatePassword(update.$invalid)">
            <i class=""></i>
            Save
        </div>
    </form>
</div>
